<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>


    <h1>Best Kind Brewery</h1>

    <form id="brewery-form" method="POST" action='/api/storeToken'>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">

        <label for="email">Email: </label>
        <input type="text" id="email" name="email">

        <label for="phone">Phone Number (555-555-5555): </label>
        <input type="text" id="phone" name="phone">

        <input type="submit" id="submit-btn"> 


    </form>

    <p id="user-message"></p>


    <script src="../form.js"></script>
  
    
</body>
</html>