<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    

    <h1>Best Kind Brewery</h1>

   <p>Your token is <%= tok %>. Please take note of this token.</p>


  
    
</body>
</html>