
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Avenir";
  }

  
h1 {
    padding-left: 5%; 
    padding-top: 3%;
    padding-bottom: 2%; 
    color: black; 
    font-family: 'Playfair Display', 'Avenir';
    letter-spacing: 1.5px;
    font-size: 45px;
}

h2 {
    padding-left: 5%; 
    padding-top: 1%;
    color: black; 
    font-family: 'Playfair Display', 'Avenir';
    font-weight: 400;
    letter-spacing: 1.2px;
    font-size: 30px;

}

h3 {
    padding-left: 5%; 
    padding-bottom: 2%; 
    font-weight: 400;
}

label {
    color: black; 
    padding-left: 5%; 
    font-weight: 500;
    font-size: 20px; 
    letter-spacing: 1.2px;
}

#submit-btn {
margin-left: 45%; 
padding: 1%; 
background-color: #3C3731;
color: white; 
font-weight: 500;
font-size: 22px;
border: none;
border-radius: 5%;
letter-spacing: 1.2px;
}


p {
    color: white; 
    background-color: #730C0C;
    padding-left: 5%;
    padding-top: 1%; 
    padding-bottom: 1%;
    margin-top: 4%; 
    font-size: 16px; 
}

input {
    border: none; 
    background-color: rgba(255, 255, 255, .8);
}



#main-display {
    background-image: url("../images/backgroundImage.jpg");
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5x);
    width: 100vw;
    height: 100vh; 
    position: relative;
}

#form-display {
    background-image: linear-gradient(rgba(147, 154, 129, 1), rgba(147, 154, 129, 0.9));
    filter:none; 
    width: 100%;
    height: 350px; 
    position: absolute;
    top: 10%; 
    
}

.blank-area {
    width: 100%;
    height: 25px; 
}

#bottom-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-box {
    width: 300px;
    height: 200px; 
    margin: 3%; 
}

.bottom-box img {
    width: 100%;
    height: 200px; 
}


#succ-message {
    color: white; 
    background-color: #939A81; 
    padding-left: 5%;
    padding-top: 1%; 
    padding-bottom: 1%;
    margin-top: 4%; 
    font-size: 16px; 
}

#succ-p {
    background-color: #939A81;
    color: black; 
    padding-top: 0%; 
    margin-top: 2%; 
    font-weight: 500;
    font-size: 18succpx;
}

span {
    background-color: rgba(202, 170, 145, 1);
    padding: 2px 5px 2px 5px; 
    letter-spacing: 2px;
}


