<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Best Kind Brewery</title>
</head>
<body>
    

    <h1>Best Kind Brewery</h1>

    <div id="succ-message">
        <h2>Success!</h2>
   <p id="succ-p">Your token is <span><%= tok %></span>. Please take note of this for future use.</p>
    </div>

   <div id="bottom-images">
    <div class="bottom-box"> 
        <img src="../images/succImage1.jpg" alt="Brewery Image 1">
    </div>
    <div class="bottom-box">
        <img src="../images/succImage2.jpg" alt="Brewery Image 2">
    </div>
    <div class="bottom-box">
        <img src="../images/succImage3.jpg" alt="Brewery Image 3">
    </div>


   </div>


  
    
</body>
</html>